body{
    background: #eee;
    box-sizing: border-box;
}
.title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px 
}
.form{
    margin-top: 50px;
    background: #ffffff;
    height: 350px;
    padding: 50px; 
    border: 1px solid grey;
    border-radius: 15px;
}
.form:hover{
    border: 1px solid #009ac9;
    box-shadow: 0 0 8px #009ac9
}
 .text{
    font-size: 25px;
}
section button {
    margin: 0 auto;
    font-size: 20px;
    padding: 1.25rem 2.5rem;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  section button:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
  }